<% include ./partial/styles.ejs %>

<style>  
 .main{
  background-color:black;width:100%;height: 100vh;background-color: #0a000a;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='616' height='616' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23483b4a' stroke-width='3.8'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23cccccc'%3E%3Ccircle cx='769' cy='229' r='14'/%3E%3Ccircle cx='539' cy='269' r='14'/%3E%3Ccircle cx='603' cy='493' r='14'/%3E%3Ccircle cx='731' cy='737' r='14'/%3E%3Ccircle cx='520' cy='660' r='14'/%3E%3Ccircle cx='309' cy='538' r='14'/%3E%3Ccircle cx='295' cy='764' r='14'/%3E%3Ccircle cx='40' cy='599' r='14'/%3E%3Ccircle cx='102' cy='382' r='14'/%3E%3Ccircle cx='127' cy='80' r='14'/%3E%3Ccircle cx='370' cy='105' r='14'/%3E%3Ccircle cx='578' cy='42' r='14'/%3E%3Ccircle cx='237' cy='261' r='14'/%3E%3Ccircle cx='390' cy='382' r='14'/%3E%3C/g%3E%3C/svg%3E");
 }
.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #1a001a;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #1a001a;
	outline: none;
	color: #fff;
	font-size: 16px;
	height: auto;
	font-weight: normal;
	padding: 20px 0;
	text-transform: uppercase;
	border-color: white;
  border: 2px solid #1a001a;
  
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #1a001a;
	border-color: black
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1a001a;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1a001a;
  border: 2px solid #1a001a;

}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1a001a;
	border-color: white;
}

 </style>
<script>  
$(function() {

$('#login-form-link').click(function(e) {
$("#login-form").delay(100).fadeIn(100);
 $("#register-form").fadeOut(100);
$('#register-form-link').removeClass('active');
$(this).addClass('active');
e.preventDefault();
});
$('#register-form-link').click(function(e) {
$("#register-form").delay(100).fadeIn(100);
 $("#login-form").fadeOut(100);
$('#login-form-link').removeClass('active');
$(this).addClass('active');
e.preventDefault();
});

});

</script>

<div class="main">
  
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<br><br><br>
 <!------ Include the above in your HEAD tag ---------->
 <h2 class="text-center" style="font-size:90px; margin-top:0px;color:white"><i class="fas fa-users"></i> </h2>
    <h2 class="text-center" style="font-size:90px;margin-top:0px;"> <span style="color:red">S</span> <span style="color:blue">N</span> <span style="color:yellow">A</span></h2>
    <div class="container" >
       <div class="row">
       <div class="col-md-6 col-md-offset-3">
         <div class="panel panel-login">
           <div class="panel-heading">
             <div class="row">
               <div class="col-xs-6">
                 <a href="#" class="active" id="login-form-link">Login</a>
               </div>
               <div class="col-xs-6">
                 <a href="#" id="register-form-link">Register</a>
               </div>
             </div>
             <hr>
           </div>
           <div class="panel-body">
             <div class="row">
               <div class="col-lg-12">
                 <form id="login-form" action="/home" method="POST" role="form" style="display: block;">
                   <div class="form-group">
                     <input type="text" required name="email" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                   </div>
                   <div class="form-group">
                     <input type="password" required name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
                   </div>
                   <div class="form-group text-center">
                     <input type="checkbox" tabindex="3" class="" id="remember">
                     <label for="remember"> Remember Me</label>
                   </div>
                   <div class="form-group">
                     <div class="row">
                       <div class="col-sm-6 col-sm-offset-3">
                         <input type="submit"  id="login-submit" tabindex="4" class="form-control  btn-login" style="border: 2px solid #1a001a;" value="Log In">
                       </div>
                     </div>
                   </div>
                   <div class="form-group">
                     <div class="row">
                       <div class="col-lg-12">
                         <div class="text-center">
                           <a  tabindex="5" class="forgot-password">Forgot Password?</a>
                         </div>
                       </div>
                     </div>
                   </div>
                 </form>
                 <form id="register-form" action="/users" method="POST" role="form" style="display: none;">
                   <div class="form-group">
                     <input type="text" required name="name" id="username" tabindex="1" class="form-control" placeholder="Name" value="">
                   </div>
                   <div class="form-group">
                     <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="">
                   </div>
                   <div class="form-group">
                     <input type="password" required name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
                   </div>
                   <div class="form-group" style="text-align:center">
                   <input class="radio-inline" type="radio" name="gender" value="1"> Male
                   <input  class="radio-inline" type="radio" name="gender" value="0"> Female 
                  </div>
                  <div class="form-group">
                     <input type="password" required id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password">
                   </div>
                   <div class="form-group">
                     <div class="row">
                       <div class="col-sm-6 col-sm-offset-3">
                         <input type="submit" name="register-submit" id="register-submit" tabindex="4" style="border: 2px solid #1a001a;" class="form-control  btn-register" value="Register Now">
                       </div>
                     </div>
                   </div>
                 </form>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>

  </div>